.idea/
	mysite/myapp/__pycache__/__init__.cpython-35.pyc
	mysite/myapp/__pycache__/admin.cpython-35.pyc
	mysite/myapp/__pycache__/models.cpython-35.pyc
	mysite/myapp/__pycache__/urls.cpython-35.pyc
	mysite/myapp/__pycache__/views.cpython-35.pyc
	mysite/myapp/migrations/__pycache__/__init__.cpython-35.pyc
	mysite/mysite/__pycache__/__init__.cpython-35.pyc
	mysite/mysite/__pycache__/settings.cpython-35.pyc
	mysite/mysite/__pycache__/urls.cpython-35.pyc
	mysite/mysite/__pycache__/wsgi.cpython-35.pyc

