block content
    #chat-area
        .row( style='padding-top:180px')
            .messages.col-lg-4.col-lg-offset-9.well.well-lg
        .row
            .col-lg-4.col-lg-offset-9
                .input-group
                    input.form-control(type='text', placeholder='Message..')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Send