block content
    #chat-area
        .row#message-area
            .messages.col-lg-6.col-lg-offset-6.well.well-sm
        .row
            .col-lg-6.col-lg-offset-6
                .input-group#chat-input
                    input.form-control(type='text', placeholder='Message...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Send

    //Socket end for testing, other end in app.js
    script.
        var socket = io.connect();